:root{
    --vw-lg: 1920px;
    --vw-md: 1366px;
    --vw-sm: 600px;
    --bg-color: rgb(255, 255, 255);
    --nav-color: bisque;
    font-size: large;
    --header-color: #1ed49d;
}
@font-face {
    font-family: CustomFont;
    src: url(../font/LoveChristabelaRegular.ttf);
}
nav {
    background-color: var(--nav-color);
    position:fixed;
    top: 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 20%;
    font-family: CustomFont, serif, 'Times New Roman', Times;
}

nav a:hover{
    background-color: sienna;
    
}

nav a{
/*     background-color: var(--nav-color);
    padding-right: 5rem;
    text-align: center; */
    float: right;
    display: block;
    background-color: var(--nav-color);
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}


main{
    padding-top: 1.5rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3fr 3fr;

}

main > h1{
    grid-row: 1;
    grid-column: 1 / span 3;
}

#jobInfo{
    grid-row: 3;
    grid-column: 1 / span 3;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
}



textarea{
    width: 23vw;
    height: 10vw;
}

video{
    width: 50vw;
    height: 70vh;
    margin: 0px;
}

ul{
    text-align: left;
}

div{
    text-align: center;

}



@media screen and (max-width: 600px) {
    video{
        width: 70vw;
        height: 40vh;
        margin: 0px;
    }

    textarea{
        width: 70vw;
        height: 10vw;
    }
}